
		<form method="post" action="#####" id="form_cashout">
			<div class="form-body clearfix">
				<table class="table responsive-form-table">
					<tr class="table-row">
						<th class="hidden-sm col-md-3 borderd">应用名称</th>
						<replace value="da_name">
							<td class="col-sm-12 col-md-9 borderd" data-title="标题"><input type="text" name="da_name" class="form-control" value="{da_name}"></td>
						</replace>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">	平台</th>
						<replace value="da_platform">
							<td class="col-sm-12 col-md-9" data-title="平台"><input type="text" name="da_platform" class="form-control mask-date" value="{da_platform}"></td>
						</replace>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">类别</th>
						<replace value="da_class">
							<td class="col-sm-12 col-md-9" data-title="路径"><input type="text" name="da_class" class="form-control mask-date" value="{da_class}"></td>
						</replace>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">应用图标</th>
						<td class="col-sm-12 col-md-9" data-title="应用图标">
							<replace value="da_icon">
								<img src="{da_icon}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">应用简介</th>
						<td class="col-sm-12 col-md-9" data-title="应用简介">
							<replace value="da_briefing">
								<textarea class="form-control autosizeme" name="da_briefing" rows="3">{da_briefing}</textarea>
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">使用场景</th>
						<td class="col-sm-12 col-md-9" data-title="使用场景">
							<replace value="da_scene">
								<textarea class="form-control autosizeme" name="da_scene" rows="3">{da_scene}</textarea>
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">绑定域名</th>
						<td class="col-sm-12 col-md-9" data-title="绑定域名">
							<replace value="da_domain">
								<input type="text" name="da_domain" class="form-control mask-date" value="{da_domain}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">服务器IP</th>
						<td class="col-sm-12 col-md-9" data-title="服务器IP">
							<replace value="da_server_ip">
								<input type="text" name="da_server_ip" class="form-control mask-date" value="{da_server_ip}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">授权回调页</th>
						<td class="col-sm-12 col-md-9" data-title="授权回调页">
							<replace value="da_callback">
								<input type="text" name="da_callback" class="form-control mask-date" value="{da_callback}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">状态</th>
						<td class="col-sm-12 col-md-9" data-title="状态">
							<replace value="da_status">
								<input type="text" name="da_status" class="form-control mask-date" value="{da_status}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">da_app_key</th>
						<td class="col-sm-12 col-md-9" data-title="da_app_key">
							<replace value="da_app_key">
								<input type="text" name="da_app_key" class="form-control mask-date" value="{da_app_key}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">da_secret_key</th>
						<td class="col-sm-12 col-md-9" data-title="da_secret_key">
							<replace value="da_secret_key">
								<input type="text" name="da_secret_key" class="form-control mask-date" value="{da_secret_key}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">创建时间</th>
						<td class="col-sm-12 col-md-9" data-title="创建时间">
							<replace value="da_createtime">
								<input type="text" name="da_createtime" class="form-control mask-date" value="{da_createtime}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">运营管理联系人</th>
						<td class="col-sm-12 col-md-9" data-title="运营管理联系人">
							<replace value="da_contact">
								<input type="text" name="da_contact" class="form-control mask-date" value="{da_contact}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">运营联系人电话</th>
						<td class="col-sm-12 col-md-9" data-title="运营联系人电话">
							<replace value="da_tel">
								<input type="text" name="da_tel" class="form-control mask-date" value="{da_tel}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">运营联系人邮箱</th>
						<td class="col-sm-12 col-md-9" data-title="运营联系人邮箱">
							<replace value="da_email">
								<input type="text" name="da_email" class="form-control mask-date" value="{da_email}">
							</replace>
						</td>
					</tr>
					<tr class="table-row">
						<th class="hidden-sm col-md-3">备注</th>
						<td class="col-sm-12 col-md-9" data-title="备注">
							<replace value="da_mome">
								<textarea class="form-control autosizeme" name="da_mome" rows="3">{da_mome}</textarea>
							</replace>
						</td>
					</tr>
				</table>
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="button" data-dismiss="modal" class="btn default"><i class="fa fa-rotate-left"></i> 关闭</button>
							</div>
						</div>
					</div>
					<div class="col-md-6"> </div>
				</div>
			</div>
		</form>