
<div class="page-bar margin-bottom-20">
    <!-- 导航 -->
    <ul class="page-breadcrumb">
        <li> <i class="fa fa-home"></i> <a href="/">管理控制台 </a> <i class="fa fa-angle-right"></i> </li>
        <li> <a href="/open/faq">开发平台</a> <i class="fa fa-angle-right"></i> </li>
        <li> 支持中心 </li>
    </ul>
    <!-- end 导航 -->
</div>


<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"> <i class="fa fa-search"></i> 常见问题 </div>
        <div style="float: right">
            <a href="/open/addFaq" class="fancybox-button btn btn-sm blue"><i class="fa fa-plus"></i> 发布问答 </a>
        </div>
    </div>

    <div class="portlet-body">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN ALERTS PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                        <form novalidate action="/open/editFaq.json" class="form-horizontal form-row-seperated" id="editFaqfrom">
                            <div class="form-body clearfix">
                                <table class="table responsive-form-table">
                                    <tbody>
                                    <tr class="table-row">
                                        <th class="hidden-sm col-md-2 borderd">分类 </th>
                                        <td class="col-sm-12 col-md-10 borderd" data-title="分类">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <select name="qa_qc_id" id="typeA" class="form-control">
                                                        <option value="">--请选择--</option>
                                                        <if $qa_qc_id == 1>
                                                            <option value="1" selected>产品</option>
                                                            <option value="2">技术</option>
                                                            <option value="3">错误代码</option>
                                                        </if>
                                                        <if $qa_qc_id == 2>
                                                            <option value="2" selected>产品</option>
                                                            <option value="1">技术</option>
                                                            <option value="3">错误代码</option>
                                                        </if>
                                                        <if $qa_qc_id == 3>
                                                            <option value="2">产品</option>
                                                            <option value="1">技术</option>
                                                            <option value="3" selected>错误代码</option>
                                                        </if>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table-row">
                                        <th class="hidden-sm col-md-2 borderd">标题 <span class="required"> * </span> </th>
                                        <td class="col-sm-12 col-md-10 borderd" data-title="新闻标题">
                                            <replace value="qa_question">
                                                <input id="qa_question" type="text" class="form-control" name="qa_question" value="{qa_question}">
                                            </replace>
                                            <replace value="qa_id">
                                                <input type="hidden" class="form-control" name="qa_id" value="{qa_id}">
                                            </replace>
                                        </td>
                                    </tr>

                                    <tr class="table-row">
                                        <th class="hidden-sm col-md-2 borderd">内容 <span class="required"> * </span> </th>
                                        <td class="col-sm-12 col-md-10 borderd" data-title="内容">
                                            <replace value="qa_answer">
                                            <textarea name="content" id="content" class="ueditor">{qa_answer}</textarea>
                                            </replace>
                                            <script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/ueditor/ueditor.config.js"></script>
                                            <script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/ueditor/ueditor.all.js"></script>
                                            <script type="text/javascript">
                                                $(function(){
                                                    if(typeof ueditors === 'undefined' ){
                                                        ueditors = {};
                                                    }
                                                    ueditors.content = UE.getEditor('content', {
                                                        UEDITOR_HOME_URL : '{_TEMP_PUBLIC_}/assets/global/plugins/ueditor/',
                                                        serverUrl: "{_TEMP_PUBLIC_}/assets/global/plugins/ueditor/php/controller.php"
                                                    });
                                                });

                                            </script>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn blue">发布</button>
                                        <button type="reset" class="btn default">取消</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END ALERTS PORTLET-->
            </div>

        </div>
    </div>
</div>





<script>
    $(function(){
        $('#editFaqfrom').handleForm(
                {
                    rules: {
                        'qa_qc_id': {
                            required: true
                        },
                        'content': {
                            required: true
                        },
                        'qa_question': {
                            required: true
                        }
                    },
                    messages: {
                        'qa_qc_id': {
                            required: "请填写标题"
                        },
                        'content': {
                            required: "请填写内容"
                        },
                        'qa_question': {
                            required: "请选择分类"
                        }
                    },
                    closest: 'td',
                    ass: {

                    }
                },
                function(data, statusText){
                    console.log(data);
                    if(data.id == '1001'){
                        bootbox.alert(data.msg, function() {
                            //grid.getDataTable().ajax.reload(null, false);
                            //$('#addFaq').modal('hide');
                            Global.ajaxify('/open/faq');//或者使用这个方法跳转页面,参数为链接地址
                        });
                    }else{
                        Global.alert({
                            "type": "danger",
                            "message": data.msg,
                            "closeInSeconds": "10",
                            "icon": "warning"
                        });
                    }

                }
        );

    });
</script>