
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<!--<script src="{_TEMP_PUBLIC_}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>-->
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/arttemplate/template.js"></script>
<!-- 核心js end -->

<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/select2/select2.min.js"></script><!-- select2下拉框 -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/moment/moment.js"></script>
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/moment/locale/zh-cn.js"></script>
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script><!-- 模态框 -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script><!-- 表单验证 -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script><!-- 表单验证 -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery.form.js"></script><!-- 表单提交 -->
<script src="{_TEMP_PUBLIC_}/assets/global/scripts/submit.js" type="text/javascript"></script> <!-- 表单提交新方法 -->

<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script><!-- dataTables -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script><!-- dataTables -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js"></script><!-- dataTables 固定表头 -->

<script src="{_TEMP_PUBLIC_}/assets/global/scripts/datatable.js" type="text/javascript"></script>

<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script> <!-- 震动提示 -->
<script type="text/javascript" src="{_TEMP_PUBLIC_}/assets/global/plugins/bootbox/bootbox.min.js"></script><!-- 模态框对话框 -->
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script><!-- 模态框对话框 -->
<script src="{_TEMP_PUBLIC_}/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script><!-- 模态框对话框 -->

<script src="{_TEMP_PUBLIC_}/assets/global/plugins/autosize/autosize.min.js" type="text/javascript"></script>

<!-- global js -->
<script src="{_TEMP_PUBLIC_}/assets/global/scripts/global.js" type="text/javascript"></script>
<!-- global js end -->

<!--左边内容-->
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse" style="background-color: #F7F7F7;">
		<ul style="list-style-type: none;font-size: 16px;line-height: 40px">
			<a href="/work/category" target="_self"><li style="border-bottom: solid 1px #dedede">接口分类</li></a>
			<a href="/work/interfaceList" target="_self"><li style="border-bottom: solid 1px #dedede">接口列表</li></a>
			<a href="/work/interfaceList" target="_self"><li style="border-bottom: solid 1px #dedede">接口审核</li></a>
		</ul>
	</div>
</div>

<!--右边内容-->
<div class="page-content-wrapper">
	<div class="page-content" style="min-height:557px">
		<div class="page-content-body">
<div class="page-bar margin-bottom-20">
	<!-- 导航 -->
	<ul class="page-breadcrumb">
		<li> <i class="fa fa-home"></i> <a href="/">管理控制台 </a> <i class="fa fa-angle-right"></i> </li>
		<li> <a href="/open/interfaceList">开发平台</a> <i class="fa fa-angle-right"></i> </li>
		<li> 审核列表 </li>
	</ul>
	<!-- end 导航 -->
</div>


<div class="portlet light">
    <div class="portlet-body">
		<form class="form-inline " action="#" data-action="/work/reviewed.json" data-reload="false" name="filter-awardDetail" id="filter-detail">
			<div class="form-group">
				<select class="form-control form-filter input-sm" name="il_ic_id">
					<option value="">--接口分类--</option>
					<!-- <loop data="categoryData"> -->
					<option value="{ic_id}">{ic_name}</option>
					<!-- </loop> -->
				</select>
			</div>

			<div class="form-group">
				<label></label>
				<button class="btn btn-sm blue filter-submit margin-bottom"><i class="fa fa-search"></i> 查找</button>
				<button class="btn btn-sm default filter-cancel"><i class="fa fa-times"></i> 重置</button>
			</div>
		</form>

		<table class="table table-striped" id="detail">
			<thead>
				<tr>
					<th data-dt="DT_RowId" data-sort="1" data-hide="1"></th>
					<th data-dt="il_id" data-sort="1">编号</th>
					<th data-dt="il_create_time">创建时间</th>
					<th data-dt="il_name">接口名称</th>
					<th data-dt="il_title">标题</th>
					<th data-dt="il_interface_url">路径</th>
					<th data-dt="il_ic_id">分类</th>
					<th data-dt="il_reviewed">审核状态</th>
					<th data-dt="op">操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
</div>
</div>
</div>


<!--添加新接口模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="add_interface" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="temp-modal-power-title">发布接口</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<!--修改接口模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="edit_interface" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">修改编辑</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<!--请求参数模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">编辑请求参数</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<!--返回参数模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="return-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">编辑返回参数</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>



<!--添加新请求字段模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="addRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">添加请求字段</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<!--添加新返回参数字段模态框-->
<div class="modal fade modal-scroll bs-modal-lg" id="addReturns" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-replace="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">添加返回字段</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer display-hide"></div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>

<script>
	/**
	 * @datatable 显示数据
	 * @type {{initScoreList}}
	 */

	var Cash = function () {
		var dataGrid = new Datatable();
		return {
			initScoreList: function () {
				var table = $("#detail");
				var columns = [];
				$('thead > tr > th', table).each(function(){
					!!$(this).data('dt') && columns.push({
						"data" : $(this).data('dt'),
						"sortable": !!$(this).data('sort'),
						"visible": !$(this).data('hide')
					});
				});


				dataGrid.init({
					src : table,
					dataTable : {
						"ajax" : {
							"type" : "POST",
							"url" : "/work/reviewed.json"//jsData.action//
						},
						"columns" :columns,
						"order" : [
							[0, "desc"]
						]
					}
				});
				return dataGrid;
			}

		};
	}();
	var grid = Cash.initScoreList();
</script>




<script>
	//删除
	function reviewedApi(id){
		if(!id){
			return false;
		}
		bootbox.confirm('确定通过审核吗?',function(res){
			if(res){
				$.ajax({
					'url' : '/work/reviewedApi.json?id='+id,
					'dataType' : 'JSON',
					'success' : function(data){
						if(data.id == '1001'){
							/*bootbox.alert('操作成功!', function(){
								grid.getDataTable().ajax.reload(null, false);
							});*/
							bootbox.alert(data.msg, function() {
								grid.getDataTable().ajax.reload(null, false);
							});
						}else{
							var msg = data.info || data.msg;
							bootbox.alert(msg);
						}
					}
				});
			}
		});
	}

</script>