<!-- t_reward_type -->
<table class="table table-bordered table-hover table-striped table-classic" data-source="rt">  
  <tr>
    <th rowspan="2" class="text-center">创业会员</th>
    <th rowspan="2" class="text-center">被推荐合作伙伴</th>
    <th colspan="7" class="text-center">合作伙伴分红奖励（逐级超额累进制，每级逐级按当级比率计量，全部各级累加）</th>
  </tr>
  <tr>
    <td class="text-center">大唐生意行为</td>
    <td>壹至壹万</td>
    <td>壹万零壹至拾万</td>
    <td>拾万零壹至百万</td>
    <td>百万零壹至千万</td>
    <td>千万零壹至壹亿</td>
    <td>壹亿零壹元以上</td>
  </tr>
  <tr>
    <td rowspan="4" class="text-center">自然人</td>
    <td rowspan="2" class="text-center">自然人</td>
    <td class="text-center">买入</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[0]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[0]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td class="text-center">卖出</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[1]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[1]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td rowspan="2" class="text-center">法人</td>
    <td class="text-center">买入</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[2]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[2]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td class="text-center">卖出</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[3]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[3]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td rowspan="4" class="text-center">法人</td>
    <td rowspan="2" class="text-center">自然人</td>
    <td class="text-center">买入</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[4]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[4]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td class="text-center">卖出</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[5]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[5]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td rowspan="2" class="text-center">法人</td>
    <td class="text-center">买入</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[6]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[6]['rt_profitSix']}}</a></td>
  </tr>
  <tr>
    <td class="text-center">卖出</td>
    <td><a href="javascript:;" class="editable" name="rt_profitOne" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitOne']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitTwo" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitTwo']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitThree" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitThree']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFour" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitFour']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitFive" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitFive']}}</a></td>
    <td><a href="javascript:;" class="editable" name="rt_profitSix" data-id="{{rt[7]['rt_id']}}" data-type="text" data-pk="1" data-title="修改">{{rt[7]['rt_profitSix']}}</a></td>
  </tr>
</table>