/***
Login page
***/
/* logo page */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #fff;
}

.register #wrap{
	background: url(../img/bg_login.jpg) center 0 no-repeat fixed;
    background-size: cover;
}
.header .navbar{
	border:0;
	border-bottom:solid #e5e5e5 2px;
	background-color:#ffffff/* rgba(255, 255, 255, 0.7) */;
}
.header .logo {
    padding: 43px 0 30px 0;
    text-align: center;
}
.header .nav{margin-top:45px;}
.header .nav > li > a{
	padding-top: 10px;
    padding-bottom: 10px;
	font-size:14px;
	color:#666666;
	}
.header .nav > li:not(:first-child):before{
	display:block;
	position:absolute;
	left:-1px;
	top:12px;
	width:1px;
	height:16px;
	background:#666666;
	content:' ';
}
.content-register .control-label {
    font-weight: normal;
    padding-right: 5px;
    margin-left: -15px;
}
.content-register .form-info {
    padding: 0 10px 0 30px;
    border-left: solid 1px #e4e6e8;
    margin: 25px 0;
}
.content-register .form-info p.social a:hover, .content-register .form-info p.social a:focus{
	color: #337ab7!important;
}
/* Set the fixed height of the footer here */
#footer {
	/* height: 135px; */
	background-color: #f5f5f5;
	
}

.tab-pane.active h3.block{
	font-size:16px;
	font-weight:normal;
	color: #337ab7;
}

.form-wizard .steps > li.active > a.step .number {
    background-color: #3598dc;    
}
.form-wizard .steps > li.done > a.step .number {
    background-color: #32c5d2;
}
.form-wizard .steps > li.done > a.step .desc {
    color: #32c5d2;
}
.form-wizard .steps > li.done > a.step .desc i {
    color: #32c5d2;
}
.progress-bar-success {
    background-color: #3598dc;
}

.form .form-section:before {
    padding-bottom: 0px;
}

.border-bottom{border-bottom:solid #dddddd 1px;}
#footer > .container {
	
	padding-top:10px;
	text-align:center;
}

@media (max-width: 991px) {
	.form-wizard .steps, .form-wizard #bar{
		display:none!important;
	}
	.form-wizard #register-person{
		margin-bottom:20px;
	}
	.content-register .control-label {
		margin-bottom: 5px;
		margin-left: 5px;
	}
	.content-register .portlet > .portlet-title{
		margin-bottom:0;
	}
	.content-register .portlet > .portlet-body .tab-pane.active h3.block{
		margin-top: 0px;
		padding-top:0;
	}
	.content-register .form-info {
		padding: 0 10px 0 10px;
		border-left-width: 0;		
	}
}
@media (max-width: 767px) {
	.register .logo {	 
	  padding: 12px 0 10px 0;
	}
}
@media (max-width: 480px) {

	.register .logo {
	  zoom:0.6;
	  padding: 12px 0 10px 0;
	  text-align: center;
	}
	.header .navbar{min-height:20px;}

  #footer{height:auto;}
  #footer > .container{padding-top:0;}
  #footer .container p:not(.copyright){display:none;}
  #footer .container p.copyright{margin-bottom:0;font-size:12px;}
  
}
/***12.28注册***/
.header .logo {
    padding: 19px 0 24px 0;
    text-align: center;
}
/**2.25 样式**/
.form-wizard .steps li.active > a.step,.form-wizard .steps > li.done > a.step{
	background-color: #3598dc;
	color: white;
}
.form-wizard .steps > li.active > a.step .desc{
	color: white;
}
.form-wizard .steps > li.active > a.step:hover{
	background-color: #3598dc;
}
.form-wizard .steps > li:after{
	background-color: #bce4fe;
	background: url(../img/steps-sprite-imgb.png) 0px 0px no-repeat;
	content: "";
	z-index: 1;
	width: 15px;
	height: 42px;
	position: absolute;
	right: -15px;
	top: 0px;
}
.form-wizard .steps > li.done > a.step .desc,.form-wizard .steps > li.done > a.step .desc i{
	color: white;
}
.form-wizard .steps > li > a.step:hover,.form-wizard .steps > li > a.step{
	background-color: #bce4fe;
	color: #3598dc;
}
.form-wizard .steps li.active:after,.form-wizard .steps > li.done:after{
	background: url(../img/steps-sprite-imga.png) 0px 0px no-repeat;
	content: "";
	z-index: 1;
	width: 15px;
	height: 42px;
	position: absolute;
	right: -15px;
	top: 0px;
}
.form-wizard .steps > li.done > a.step:hover{
	background-color:#3598dc ;
	color: white;
}
/***2.26 样式***/
.form-wizard .steps > li > a.step .desc{
    margin-top: 0px;
}