<form id="formBranch" class="form-horizontal form-row-seperated">
	<replace value="tse_id|username|trueName|classId|status|tse_createTime|fee|className|payTime|payFee|state|reason">
	<div class="form-body clearfix">
	    <div class="form-group">
	      	<label class="control-label col-md-2">会员名</label>
	      	<div class="col-md-4">
	        	<label style='line-height:30px;'>{username}</label>
	      	</div>
	      	<label class="control-label col-md-2">姓名</label>
	      	<div class="col-md-4">
	        	<label style='line-height:30px;'>{trueName}</label>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">班级编号</label>
	      	<div class="col-md-4">
	        	<label style='line-height:30px;'>{classId}</label>
	      	</div>
	      	<label class="control-label col-md-2">订单状态</label>
	      	<div class="col-md-4"> 
	        	<label style='line-height:30px;'>{status}</label>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">创建时间</label>
	      	<div class="col-md-4">
	        	<label style='line-height:30px;'>{tse_createTime}</label>
	      	</div>
	      	<label class="control-label col-md-2">付款时间</label>
	      	<div class="col-md-4">
	        	<label style='line-height:30px;'>{payTime}</label>
	      	</div>
	    </div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">订单信息</label>
		<div class="col-md-10">
		<table class="table table-bordered table-hover table-striped table-classic">
	    <tbody>
	      <tr> 
	        <th>订单编号</th> <th>班级名称</th> <th>金额</th><th>实付金额</th><th>审核状态</th><th>审核理由</th><th>状态</th>
	      </tr>
	      <tr>
	        <td>{tse_id}</td>
	        <td>{className}</td>
	        <td>{fee}</td>
	        <td>{payFee}</td>
	        <td>{state}</td>
	        <td>{reason}</td>
	        <td>{status}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
  	</div>
  	<div class="form-actions">
    	<div class="row">
	      	<div class="col-md-offset-2 col-md-10">
	        	<button type="button" data-dismiss="modal" class="btn btn-default blue"><i class="fa fa-check"></i> 提交</button>
	        	<button type="button" data-dismiss="modal" class="btn default"><i class="fa fa-rotate-left"></i> 关闭</button>
	      	</div>
    	</div>
  	</div>
	</replace>
</form>
