<div class="" id="foot">
    <div class="margin_auto w1004 h50 text_mid pad_top_30 fz_12">
        <p class="fz_12 gray">
            COPYRIGHT BY JUJIA CO.,LTD.,ALL RIGHT RESERVED.&nbsp;&nbsp;
			<a href="http://www.miibeian.gov.cn" style="color:#CC3300">粤ICP备13090475号-1</a>&nbsp;&nbsp;
			增值电信业务经营许可证：<span style="color:#CC3300">粤B2-20140093</span>
        </p>
        <p class="fz_12 gray">
            <a href="http://webscan.360.cn/index/checkwebsite/url/user.youpinshiyong.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/a8a990e85b9133f2d7120ed61def5f1a"/></a>
        </p>
    </div>
</div>