<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>优品试用网站地图</title>
</head>
<link href="/template/share/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/template/share/css/main.css" />
<link rel="stylesheet" href="/template/system/css/map.css" />
<base target="_blank">
<body>
<flybug:replace value="header">
{header}
</flybug>
<div id="navigation">
    <a href="/" target="_parent">优品试用</a>
     &raquo;
    网站地图
</div>
<div id="main">
    <div class="item action">
        <div class="hd">
            <h1><a href="/items&show=list">优品试用<em>·</em>促销活动</a> </h1>
        </div>
        <div class="bd">
            <dl class="clearfix">
                <dt>[价目分类]</dt>
                <dd>
                    <ul>
                        <li><a href="/items&show=list&actiontype=4">九块邮</a></li>
                        <li><a href="/items&show=list&actiontype=5">十九块邮</a></li>
                        <li><a href="/items&show=list&actiontype=6">给力29元</a></li>
                        <li><a href="/items&show=list&actiontype=7">实惠39元</a></li>
                        <li><a href="/items&show=list&actiontype=8">爆款1-5折</a></li>
                    </ul>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>[产品类型]</dt>
                <dd>
                    <ul>
                        <li><a href="/items&show=list&goodstype=2">男装</a></li>
                        <li><a href="/items&show=list&goodstype=1">女装</a></li>
                        <li><a href="/items&show=list&goodstype=5">鞋子</a></li>
                        <li><a href="/items&show=list&goodstype=6">包包</a></li>
                        <li><a href="/items&show=list&goodstype=3">家居</a></li>
                        <li><a href="/items&show=list&goodstype=4">母婴</a></li>
                        <li><a href="/items&show=list&goodstype=7" >首饰</a></li>
                        <li><a href="/items&show=list&goodstype=10">美妆</a></li>
                        <li><a href="/items&show=list&goodstype=9" >数码</a></li>
                        <li><a href="/items&show=list&goodstype=8">美食</a></li>
                    </ul>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>[推荐]</dt>
                <dd>
                    <ul>
                        <li><a href="/items&show=list">今日新品</a></li>
                        <li><a href="/items&show=preview">明日预告</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div class="item action">
        <div class="hd">
            <h1><a href="/free">优品试用<em>·</em>优品试用</a> </h1>
        </div>
        <div class="bd">
            <dl class="clearfix">
                <dt>[产品类型]</dt>
                <dd>
                    <ul>
                        <li><a href="/free&state=1&type=2">精品男装</a></li>
                        <li><a href="/free&state=1&type=1">时尚女装</a></li>
                        <li><a href="/free&state=1&type=5">男鞋女鞋</a></li>
                        <li><a href="/free&state=1&type=6">时尚包包</a></li>
                        <li><a href="/free&state=1&type=3">家居百货</a></li>
                        <li><a href="/free&state=1&type=4">儿童母婴</a></li>
                        <li><a href="/free&state=1&type=7" >精品配饰</a></li>
                        <li><a href="/free&state=1&type=10">护肤美妆</a></li>
                        <li><a href="/free&state=1&type=9" >数码家电</a></li>
                        <li><a href="/free&state=1&type=8">美食特产</a></li>
                        <li><a href="/free&state=1&type=11">其他</a></li>
                    </ul>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>[推荐]</dt>
                <dd>
                    <ul>
                        <li><a href="/free&show=brandlist">品牌试用</a></li>
                        <li><a href="/free&page=1&state=2">近期预告</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div class="item action">
        <div class="hd">
            <h1>优品试用<em>·</em>其他产品 </h1>
        </div>
        <div class="bd">
            <dl class="clearfix">
                <dd>
                    <ul>
                        <li><a href="/showtask">积分任务</a></li>
                        <li><a href="/bbs">论坛</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>

<flybug:replace value="foot">
    {foot}
</flybug>
</body>
</html>