<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>页面不存在</title>
</head>
<style>
.err_wrap {
    text-align: center;
}
.err_wrap .body {
    background: url(/template/system/images/404.png) center top no-repeat;
    width: 1004px;
    margin: 60px auto 0 auto;
    padding-top: 150px;
    font-size: 12px;
}
.err_wrap .body h3 {
    padding: 40px 0 10px 0;
}
.err_wrap .body ul,
.err_wrap .body li {
    list-style-type: none;
}
</style>
<body>
<div class="err_wrap">
    <div  class="body">
        <ul class="msg">
            <h3>您要访问的地址有问题，可能是：</h3>
            <li>您访问的地址有错，或根本不存在；</li>
            <li>服务器短时间出现问题，请刷新再试。</li>
            <br />
            <br />
            <li>
                全站导航：
                <a href="/">首页</a>
                |
                <a href="/free">优品试用</a>
                |
                <a href="/song">巨划算</a>
                |
                <a href="/help">帮助</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>