
<!--内容开始-->
<div class="cont12">
	<div class="row">
		<div class="col-xs-8">
			<div class="hot-class mb20 mt30">

				<div class="row">

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=152">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T1byCTB4VT1RCvBVdK.jpg" alt="大唐天下Ｃ＋商业模式培训会（湖南专场 第8期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下Ｃ＋商业模式培训会（湖南专场 第8期）
								</div>
							</div>
						</a>
					</div>

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=150">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T17txTBCET1RCvBVdK.jpg" alt="大唐天下C 商业模式培训会（第16期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下C 商业模式培训会（第16期）
								</div>
							</div>
						</a>
					</div>

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=149">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T1HyETB5VT1RCvBVdK.jpg" alt="大唐天下C 商业模式培训会（第15期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下C 商业模式培训会（第15期）
								</div>
							</div>
						</a>
					</div>

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=148">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T11tETB5KT1RCvBVdK.jpg" alt="大唐天下C 商业模式培训会（第14期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下C 商业模式培训会（第14期）
								</div>
							</div>
						</a>
					</div>

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=146">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T1tyCTB4WT1RCvBVdK.jpg" alt="大唐天下C 商业模式培训会（第12期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下C 商业模式培训会（第12期）
								</div>
							</div>
						</a>
					</div>

					<div class="col-xs-6 re">
						<a href="/glimpse/detail?id=144">
							<div class="mb20 students-class">
								<div class="students-class-img">
									<img src="http://192.168.3.201:80/v1/tfs/T19yETBC_T1RCvBVdK.jpg" alt="大唐天下C 商业模式培训会（第11期）" width="393px;" height="259px;">
								</div>
								<div class="students-class-text c-gray text_over">
									大唐天下C 商业模式培训会（第11期）
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-3">
			<div class="solid-b-999 fs16 pb10 mb10">
				课件下载
			</div>
			<div class="over">
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/word.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/excel.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/word.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/excel.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
				<div class="fs14 c-gray mb15 text_over">
					<img src="{_TEMP_SHARE_}/themes/default/images/ppt.png" alt="" class="mr10">
					唐人大学C+商业模式第14期培训会
				</div>
			</div>
		</div>
	</div>








</div>
<!--内容结束-->







