<!--=============================================================================
#     FileName: viewIdentity.html
#         Desc: 
#       Author: Wuyuanhang
#        Email: QQ:554119220
#   LastChange: 2016-11-18 14:02:21
#      History:
#      Paramer: 
=============================================================================-->
<div style="height:125mm;width:85mm;text-align:center;"> 
<table width="100%" cellpadding="0" cellspacing="0">
<tr><td height="220">&nbsp; </td></tr>
<tr><td height="30" align="center"><strong style="font-size:14pt">吴远航&nbsp; &nbsp; 第九组</strong></td></tr>
<tr><td height="20" align="center"><strong style="font-size:16pt">9</strong></td> </tr>
<tr><td height="200" align="center"> <img width="168" alt="" src="/public/code?u={$userInfo['username']}"> </td> </tr>
</table>
</div>
