<link href="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<script src="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<div class="portlet-body">
	<h4>添加资源</h4>
</div>

<form action="/courseResource/add.json" class="form-horizontal form-row-seperated" id="transfer_detail">
	<div class="form-body clearfix">
		<div class="form-group">
	      	<label class="control-label col-md-2">课件名称</label>
	      	<div class="col-md-10">
	        	<input type="text" name="name" class="form-control"/>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">所属课程</label>
	      	<div class="col-md-10">
      			<select name='courseId' class="form-control">
					<option value=''>--请选择--</option>
					<!-- <loop data="courseList"> -->
						<option value='{co_id}'>{co_name}</option>
					<!-- </loop> -->
				</select>
	      	</div>
	    </div>
	    
	    <replace value="type|resourceButton|resourceMenu">   
		<div class="form-group">
	      	<label class="control-label col-md-2">是否共享</label>
	      	<div class="col-md-10">
      			<input type='radio' name='isPublic' value='1'/>是　<input type='radio' checked='checked' name='isPublic' value='0'/>否
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">{resourceMenu}</label>
	      	<div class="col-md-10 resource">
	      		<div class='row' style="margin-left:2px;">{resourceButton}</div>
	      		<div class='row upFile' style="margin-top:10px;display:none;">
	      			<div class="col-sm-12 col-md-4 hiduploader">
			            <input type="text" value="" name="logo" class="form-control">
		          	</div>
	      			<div class="col-sm-12 col-md-4 hiduploader" style='display:none;'>
			            <div class="input-group modalUpload" data-savename="1" data-url="/public/uploadPhoto.json">
			            	<span class="input-group-btn">
				                <button type="button" class="btn blue start btn-block upFileButton">
				                  	<i class="fa fa-upload"></i>
				                  	徽章图片
				                </button>
			              	</span>
			            </div>
		          	</div>
		    	</div>
	      	</div>
	    </div>
	    <div class="form-actions">
		    <div class="row" style="margin-left:2px;">
		      	<div class="col-md-offset-2 col-md-10">
	        		<input type="hidden" name="type" value="{type}">
					<button type="submit" class="btn blue"><i class="fa fa-check"></i> 确认 </button>
					<button type="button" data-dismiss="modal" class="btn default"><i class="fa fa-rotate-left"></i> 关闭</button>
		      	</div>
		    </div>
		</div>
		</replace>
	</div>
</form>
<replace value="addButton">
	<script>
	var buttonString = '{addButton}';
	</script>
</replace>
<script src="{_TEMP_ACTION_}/scripts/addResource.js" type="text/javascript"></script>