<link href="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<script src="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<div class="portlet-body">
	<h4>添加资源</h4>
</div>

<form action="/courseResource/edit.json" class="form-horizontal form-row-seperated" id="transfer_detail">
	<replace value="type|resourceButton|resourceMenu|courseList|cr_id|cr_name|isShare|unShare|urlListString|crd_id">  
	<div class="form-body clearfix">
		<div class="form-group">
	      	<label class="control-label col-md-2">课件名称</label>
	      	<div class="col-md-10">
	        	<input type="text" name="name" class="form-control" value='{cr_name}'/>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">所属课程</label>
	      	<div class="col-md-10">
      			<select name='courseId' class="form-control">
					<option value=''>--请选择--</option>
					{courseList}
				</select>
	      	</div>
	    </div>
	    
	     
		<div class="form-group">
	      	<label class="control-label col-md-2">是否共享</label>
	      	<div class="col-md-10">
      			<input type='radio' name='isPublic' {isShare} value='1'/>是　<input type='radio' {unShare} name='isPublic' value='0'/>否
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">{resourceMenu}</label>
	      	<div class="col-md-10 resource">
	      		{urlListString}
	      	</div>
	    </div>
	    <div class="form-actions">
		    <div class="row">
		      	<div class="col-md-offset-2 col-md-10">
	        		<input type="hidden" name="id" value="{cr_id}">
	        		<input type="hidden" name="cid" value="{crd_id}">
					<button type="submit" class="btn blue"><i class="fa fa-check"></i> 确认 </button>
					<button type="button" data-dismiss="modal" class="btn default"><i class="fa fa-rotate-left"></i> 关闭</button>
		      	</div>
		    </div>
		</div>
	</div>
	</replace>
</form>
<replace value="addButton">
	<script>
	var buttonString = '{addButton}';
	</script>
</replace>
<script src="{_TEMP_ACTION_}/scripts/editResource.js" type="text/javascript"></script>