    <div class="footer-box">
        <div class="cont12">
            <div class="footer-tel">
                <h1 class="mg0">客服热线：95083（9：00-18：00）</h1>
            </div>
            <div class="footer-cont">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2">
                        <div class="pt20 text-left">
                            <div class="mb20"><a href="https://www.dttx.com/about/index" class="fs16 c-gray-white">了解大唐</a></div>
                            <div class="mb20"><a href="https://www.dttx.com/system" class="fs14">C<sup>+</sup>系统</a></div>
                            <div class="mb20"><a href="" class="fs14">媒体报道</a></div>
                            <div class="mb20"><a href="https://www.dttx.com/about" class="fs14">联系我们</a></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pt20 text-left">
                            <div class="mb20"><a href="" class="fs16 c-gray-white">客户服务</a></div>
                            <div class="mb20"><a href="https://www.dttx.com/help/index" class="fs14">帮助中心</a></div>
                            <div class="mb20"><a href="https://u.dttx.com/register/index" class="fs14">注册会员</a></div>
                            <div class="mb20"><a href="https://www.dttx.com/download/index" class="fs14">资料下载</a></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pt20 text-left">
                            <div class="mb20"><a href="https://www.dttx.com/appDownload" class="fs16 c-gray-white">APP下载</a></div>
                            <div class="mb20">
                                <img src="{_TEMP_SHARE_}/themes/default/images/code-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pt20 text-left">
                            <div class="mb20"><a href="" class="fs16 c-gray-white">大唐动态</a></div>
                            <div class="mb20">
                                <img src="{_TEMP_SHARE_}/themes/default/images/code-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
            <div class="text-center">
                <div class="pt10 pb10">
                    <div class="fs14 c-white">大唐天下网络科技有限公司 湘ICP备16005109号-3 Datang,Inc.All rights reserved.Powered by Datang</div>
                </div>
                <div class="pb20 mt5">
                    <a href=""><img src="{_TEMP_SHARE_}/themes/default/images/footer-img1.png" alt="" class="mr10"></a>
                    <a href=""><img src="{_TEMP_SHARE_}/themes/default/images/footer-img2.png" alt="" class="mr10"></a>
                    <a href=""><img src="{_TEMP_SHARE_}/themes/default/images/footer-img3.png" alt="" class="mr10"></a>
                    <a href=""><img src="{_TEMP_SHARE_}/themes/default/images/footer-img4.png" alt="" class="mr10"></a>
                    <a href=""><img src="{_TEMP_SHARE_}/themes/default/images/footer-img5.png" alt="" class="mr10"></a>
                </div>

            </div>
        </div>
    </div>
    <!--底部结束-->
</body>

</html>