<replace value="No|date|ename|nameType|realname|nick|mobile|level|needPay|paidAmount|cnMoney|payType|memo">

<table width="750" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td height="24" colspan="4" align="left" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td  lang="zh-CN">
						<img src="app/www/template/cn/print/images/logo-small.png" alt="大唐天下" />
					</td>
					<td  lang="zh-CN">
						<span class="logo-text"><strong>大唐天下</strong></span>
						<br><span class="logo-text-sm">THE WORLD OF TANG DYNASTY</span>
					</td>
				</tr>
			</table>		
		</td>
		<td width="340" align="center" style="font-size:22pt;font-weight:bold;" lang="zh-CN">会员充值凭证</td>
		<td width="190" align="right" valign="top" lang="zh-CN" style="font-size:14pt;">NO.{No}</td>
		<td width="20">&nbsp;</td>
	</tr>
	<tr>
		<td height="48" colspan="3" align="center" lang="zh-CN" style="font-size:14pt;">申请日期： &nbsp;{date}</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3" width="730"><table class="inner" width="730" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th height="48" colspan="2" align="center" valign="middle" lang="zh-CN">{nameType}</th>
				<td width="240" valign="middle" style="width:240px;" lang="zh-CN">&nbsp;{realname}</td>
				<th rowspan="3" align="center" valign="middle" lang="zh-CN">会员级别</th>
				<th colspan="3" rowspan="3" valign="middle" lang="zh-CN">&nbsp;{level} </th>
			</tr>
			<tr>
				<th height="48" colspan="2" align="center" valign="middle" lang="zh-CN">用户名</th>
				<td valign="middle" lang="zh-CN"><span style="width:240px;">&nbsp;{nick}</span></td>
			</tr>
			<tr>
				<th height="48" colspan="2" align="center" valign="middle" lang="zh-CN">电话</th>
				<td valign="middle" lang="zh-CN">&nbsp;{mobile}</td>
			</tr>
			<tr>
				<th height="48" colspan="2" align="center" valign="middle" style="width:98px" lang="zh-CN">应收金额（元）</th>
				<td valign="middle" lang="zh-CN">&nbsp;{needPay}</td>
				<th colspan="2" align="center" valign="middle" lang="zh-CN"> 实收金额合计（元）</th>
				<td colspan="2" valign="middle" lang="zh-CN">&nbsp;{paidAmount}</td>
			</tr>
			<tr>
				<th height="78" colspan="2" align="center" valign="middle" lang="zh-CN">实收金额大写</th>
				<td colspan="5" valign="middle" style="font-size:14pt;" lang="zh-CN">人民币（大写）{cnMoney}</td>
			</tr>
			<tr>
				<th height="48" colspan="2" valign="middle" lang="zh-CN">付款方式</th>
				<td colspan="5" valign="middle" lang="zh-CN">{payType} </td>
			</tr>
			<tr>
				<td height="48" colspan="7" valign="middle" lang="zh-CN">&nbsp; &nbsp; 备&nbsp;注：{memo}</td>
			</tr>
		</table></td>
		<td width="20" align="center" lang="zh-CN">白<br />
			联<br />
			存<br />
			根<br />
			<br />
			红<br />
			联<br />
			客<br />
			户<br />
			<br />
			黄<br />
			联<br />
			凭<br />
		证</td>
	</tr>
	<tr>
		<td height="30" lang="zh-CN">操作员：{ename}</td>
		<td>&nbsp;</td>
		<td lang="zh-CN" align="right">客服电话:95083</td>
		<td>&nbsp;</td>
	</tr>
</table>
</replace>