<!-- 内容-->
<div class="portlet light" style="margin:0px;padding:0px;">
	<replace value="username">
		<div class="portlet-title">
			<div class="caption caption-md"> <i class="fa fa-upgrade"></i>用户名：{username}</div>
			<div class="caption caption-md"> <i class="fa fa-upgrade"></i>　　姓名： {username}</div>
		</div>
	</replace>
</div>
<!-- 学员列表操作 start-->
<div class="portlet light"　style="margin-top:0px;padding:0px;">
	<div class="portlet-body">
		<!--table list start-->
		<div class="dataTables_wrapper dataTables_extended_wrapper table-responsive no-footer">
			<table aria-describedby="peopleList_info" id="field-detail" class="table table-striped table-bordered table-hover dataTable no-footer">
				<thead> 
				<tr>
					<th data-dt="username">班级编号</th>
					<th data-dt="email">学习时间</th>
					<th data-dt="mobile">班级名称</th>
					<th data-dt="classCount">课程内容</th>
					<!-- <th data-dt="totalScore">科目考试成绩</th> -->
					<!-- <th data-dt="branchName">签到率</th> -->
					<th data-dt="branchName">学分</th>
					<th data-dt="branchName">毕业证书</th>
				</tr>
				</thead>
				<tbody>
					<!-- <loop data="classInfo"> -->
						<tr>
							<td>{cs_classId}</td>
							<td>{cl_startTime}　--　{cl_endTime}</td>
							<td>{co_name}</td>
							<td>{co_content}</td>
							<!-- <td>{u_tel}</td>
							<td>{u_tel}</td> -->
							<td>{cc_credit}</td>
							<td>{gr_name}证书</td>
						</tr>
					<!-- </loop> -->
				</tbody>
			</table>
		</div>
		<!--table list end-->
	</div>
</div>
<!-- 学员列表操作 end -->

<div class="row margin-bottom-20">
	<div class="col-md-6"> </div>
	<div class="col-md-6"> </div>
</div>

<!-- <replace value="code"> -->
<script>
	$().ready(function(){
		urhere({code});
	});
</script>
<!-- </replace> -->

<script>

</script>