<link rel="stylesheet" type="text/css" href="{_TEMP_SHARE_}/themes/default/css/swiper-3.3.1.min.css">

<div class="cont12">
	<div class="lecturer-banner pt20">
		<div class="pt20 lecturer-banner-title text-center mb30">
			<div class="over">
				<div class="solid-b-2a8-3 dinline">
					<img src="{_TEMP_SHARE_}/themes/default/images/lecturer-title-icon.png" alt="">
					<strong class="fs16 pr10 pl5">梦想导师</strong>
				</div>
			</div>
			<div class="solid-all-2a8 pd6 dinline bor_4" style="width: 350px;height: 30px;">
				<div class="bg-white fs14 c-gray dinline mt10 pl10 pr10">丰富授课经验     授课过万学员</div>
			</div>
		</div>
		<div class="mt30 lecturer-banner-cont">
			<div class="swiper-container swiper-container-horizontal mb20">
				<div class="swiper-wrapper mt30">
					<loop data="dreamTeacher"> 
					<div class="swiper-slide swiper-slide-active">
						<div class="pl30 pr30">
							<div class="banner-box over mb20 solid-all">
								<a href="">
									<div class="banner-box-img amg">
										<img src="{photo}" alt="{teacher}" width="318px;" height="275px;">
									</div>
									<div class="banner-box-h50 re">
										<div class="banner-box-move re">
											<div class="banner-box-name bg-regawhite fs16">
												{teacher}
											</div>
											<div class="bg-regawhite text-center">
												<div class="banner-box-title re c-black mb10">
													<!--唐人大学副校长-->
												</div>
												<div class="banner-box-text hot-class-text c-gray line28">
													{description}
												</div>
											</div>
										</div>
									</div>
								</a>

							</div>
						</div>
					</div>
					</loop>



				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets banner-dd re mt30 mb30">
					<span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
					<span class="swiper-pagination-bullet"></span>
				</div>
			</div>
		</div>
	</div>
	<!--导师结束-->
	<div class="lecturer-mid pt20">
		<div class="pt20 lecturer-banner-title text-center mb30">
			<div class="over">
				<div class="solid-b-2a8-3 dinline">
					<img src="{_TEMP_SHARE_}/themes/default/images/lecturer-title-icon.png" alt="">
					<strong class="fs16 pr10 pl5">金牌讲师</strong>
				</div>
			</div>
			<div class="solid-all-2a8 pd6 dinline bor_4" style="width: 350px;height: 30px;">
				<div class="bg-white fs14 c-gray dinline mt10 pl10 pr10">丰富授课经验     授课过万学员</div>
			</div>
		</div>
		<div class="pl35 pr35 pt20">
			<div class="pl35 pr35">
				<div class="pl10 pr10">
					<div class="row mb30">
						<loop data="goldenTeacher">
						<div class="col-xs-3">
							<div class="banner-box over mb20 solid-all">
								<a href="">
									<div class="banner-box-img amg">
										<img src="{photo}" alt="{teacher}" width="237px;" height="292px;">
									</div>
									<div class="banner-box-h50 re">
										<div class="banner-box-move re">
											<div class="banner-box-name bg-regawhite fs16 banner-box-name-4">
												{teacher}
											</div>
											<div class="bg-regawhite text-center">
												<div class="banner-box-title re c-black mb10">
													<!--唐人大学副校长-->
												</div>
												<div class="banner-box-text hot-class-text c-gray line28">
													{description}
												</div>
											</div>
										</div>
									</div>
								</a>

							</div>
						</div>
						</loop>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--金牌讲师结束-->
	<div class="lecturer-bot pt20">
		<div class="pt20 lecturer-banner-title text-center mb30">
			<div class="over">
				<div class="solid-b-2a8-3 dinline">
					<img src="{_TEMP_SHARE_}/themes/default/images/lecturer-title-icon.png" alt="">
					<strong class="fs16 pr10 pl5">讲师团</strong>
				</div>
			</div>
			<div class="solid-all-2a8 pd6 dinline bor_4" style="width: 350px;height: 30px;">
				<div class="bg-white fs14 c-gray dinline mt10 pl10 pr10">资深讲师助您快速了解C+商业模式</div>
			</div>
		</div>
		<div class="pl35 pr35 pt20">
			<div class="pl35 pr35">
				<div class="pl10 pr10">
					<div class="row mb30">
						<loop data="teacher">
							<div class="col-xs-3">
								<div class="banner-box over mb20 solid-all">
									<a href="">
										<div class="banner-box-img amg">
											<img src="{photo}" alt="{teacher}" width="235px;" id="sss" height="306px;">
										</div>
										<div class="banner-box-h50 re">
											<div class="banner-box-move re">
												<div class="banner-box-name bg-regawhite fs16 banner-box-name-4">
													{teacher}
												</div>
												<div class="bg-regawhite text-center">
													<div class="banner-box-title re c-black mb10">
														<!--唐人大学副校长-->
													</div>
													<div class="banner-box-text hot-class-text c-gray line28">
														{description}
													</div>
												</div>
											</div>
										</div>
									</a>

								</div>
							</div>
						</loop>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--讲师团结束-->
</div>

<!--内容结束-->

<script src="{_TEMP_SHARE_}/themes/default/js/swiper.min.js"></script><!--轮播js-->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 30
    });
</script>