
    <link rel="stylesheet" type="text/css" href="{_TEMP_SHARE_}/themes/default/css/swiper-3.3.1.min.css">

    <div class="instructions-banner slide slide3 s1">

    </div>

    <!--中部导航结束-->
    <div class="cont12">
        <div class="tab-content row mg0" style="min-height: 450px;">
            <div class="block-title col-xs-3 synopsis-nav-tabs">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li id='tab1' class="active"><a href="#example-tabs2-activity" class="c_black aaa" data-toggle="tab" onclick="switchbox(1);">唐人商学院简介</a></li>
                    <li class=""><a href="#example-tabs2-profile" class="c_black aaa" data-toggle="tab" onclick="switchbox(2);">组织机构</a></li>
                    <li class=""><a href="#fysz" class="c_black aaa" data-toggle="tab" onclick="switchbox(3);">分院设置</a></li>
                    <li class=""><a href="#gzzd-cont" class="c_black aaa" data-toggle="tab" onclick="switchbox(4);">规章制度</a></li>
                </ul>
            </div>
            <div class="tab-pane active col-xs-9 bg-white mt-20 box-shadow-d6d mb20" id="example-tabs2-activity">
                <div class="pb20"> 
                    <div class="tab-pane active">
                        <div class="over text-center pt40">
                            <div class="title-bg-blue mb20 dinline fs20" style="width: 263px;"><strong>唐人商学院介绍</strong><span class="top-right-arrow"></span></div>
                        </div>
                        <div class="mt60 mb30 pd30 amg text-left">
                            <div class="pd30">
                                <p class="text_em text-left line28">
                                    唐人商学院成立于2016年03月14日，隶属于湖南大唐天下网络科技有限公司运营中心，是一个由国内顶级互联网专家、权威金融专家以及培训领域资深导师组成的专业教育培训团队,致力于打造互联网领域的“西点军校”，服务于大唐天下全国乃至全球唐人商学院分院。
                                </p>
                                <p class="text_em text-left line28">
                                    唐人商学院拥有强大的师资力量，多样化、分层级的课程体系研发，并兼备强大的培训软件支撑，采取面授、封闭式训练、 互联网教学等多种方式，同时配套有完善的培训体系、考评制度以及督查部门，确保更加高效的服务，为市场输送优秀的培训人才。
                                </p>
                                <img src="{_TEMP_SHARE_}/themes/default/images/img-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane col-xs-9 bg-white box-shadow-d6d mt-20 mb20" id="example-tabs2-profile">
                <div class="pb20">
                    <div class="over text-center pt40">
                        <div class="title-bg-blue mb20 dinline fs20" style="width: 263px;"><strong>分院组织构架图</strong><span class="top-right-arrow"></span></div>
                    </div>
                    <div class="mt60 mb30 pd30 amg">
                        <img src="{_TEMP_SHARE_}/themes/default/images/diagram-img.png" alt="" class="mb30">
                    </div>
                </div>
            </div>
            <div class="tab-pane col-xs-9 bg-white box-shadow-d6d mt-20 mb20" id="fysz">
                <div class="">
                    <div class="pd30">
                        <div class="over text-center pt40">
                            <div class="title-bg-blue mb20 dinline fs20" style="width: 263px;"><strong>唐人商学院分院设置</strong><span class="top-right-arrow"></span></div>
                        </div>
                        <div class="over text-center pt40 c-blue fs16">
                            唐人商学院分院代理的组成
                        </div>
                        <div class="over pt10 text-center">
                            <div class="mb20 dinline text-left line24" style="width: 294px;">
                                <strong>1.分院代理组成：资源共享,联合代理<br>
                                2.分院代理类别：省级分院</strong>
                            </div>
                        </div>
                        <hr class="fysz-bar">
                        <div class="over text-center pt40 c-blue fs16 mb20">
                            唐人商学院分院代理结构
                        </div>
                        <div class="row mg0 pb40">
                            <div class="col-xs-6">
                                <div class="row mg0">
                                    <div class="col-xs-4 pd0"></div>
                                    <div class="col-xs-8 pd0  solid-r-72b">
                                        <strong class="fs14 c-gray">执行代理商 (Executive agent)简称EA</strong>
                                        <p class="text_em  mb10 pt10">
                                        1).参与管理的代理商</p>
                                        <p class="text_em mb10">
                                        3).购买金额：GA的2-5倍</p>
                                        <p class="text_em mb10">
                                        4).收益分配比例：105%-125%
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row mg0">
                                    <div class="col-xs-8 pd0">
                                        <strong class="fs14 c-gray">一般代理商 (General agent)  简称GA</strong>
                                        <p class="text_em mb10 pt10">
                                        1).不参与管理的代理商</p>
                                        <p class="text_em mb10">
                                            2).购买金额：相当于1倍</p>
                                        <p class="text_em mb10">
                                        3).收益分配比例：100%
                                        </p>
                                    </div>
                                    <div class="col-xs-4 pd0"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt40 text-center mb40">
                            <img src="{_TEMP_SHARE_}/themes/default/images/diagram-img2.png" alt="">
                        </div>
                        <hr class="fysz-bar">
                        <div class="over text-center pt40 fs16 c-blue">
                            唐人商学院分院代理资格
                        </div>
                        <div class="over pt10 text-center">
                            <div class="mb20 dinline text-left line24" style="width: 294px;">
                                1. 创客以上会员身份 <br>
                                2. 参加唐人商学院的系统培训<br>
                                3. 经过公司总部审核通过 <br>
                                4. 熟知唐人商学院各规章、制度   <br>
                                5. 有组织培训经验和创业理念
                            </div>
                        </div><div class="mt40 text-center mb40 amg">
                        <img src="{_TEMP_SHARE_}/themes/default/images/diagram-img3.png" alt="">
                    </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane col-xs-9 bg-white mt-20 box-shadow-d6d mb20" id="gzzd-cont">
                <div class=" pb20">
                    <div class="over text-center pt40">
                        <div class="title-bg-blue mb20 dinline fs20" style="width: 263px;"><strong>讲师考核晋升制度</strong><span class="top-right-arrow"></span></div>
                    </div>
                    <div class="mt60 mb30 pd30 amg">
                        <div class="pd30 text-left">
                            <p class="mb10">
                                为规范讲师队伍，打造强有力的讲师团队，鼓励所有唐人商学院员工积极进取，营造比学赶超的团队文化，特制订以下讲师考核晋升制度。
                                讲师考核晋升制度包括：讲师定岗，讲师晋升，讲师考核等。
                            </p>
                            <div class="c-blue mb5">一：讲师定岗</div>
                            <p class="mb10">
                                参与人员：新应聘讲师岗人员，唐人商学院在职非讲师岗人员<br>
                                参与方式：报名申请<br>
                            </p>
                            <div class="mb5">考核方式：</div>
                            <p class="mb10 text_em">
                                1）参与考核人员于每月20日向校长办提出定岗申请，（当月应聘讲师，入职未超过15天的，申请资格顺延一个月）
                            </p>
                            <p class="mb10 text_em">
                                2）校长办于每月21号完成考核人员资格审批，并指定考核范围。
                            </p>
                            <p class="mb10 text_em">
                                3）每月25-26日所有申请通过人员参与考核
                            </p>
                            <p class="mb10 text_em">
                                4）考核评委将由人力资源部，市场运营中心等相关部门经理级以上人员参与，评委数不得少于8人。
                            </p>
                            <p class="mb10 text_em">
                                5）考核标准采取综合评分制，经由全体考核评委决议，决议通过达80%以上方能定岗讲师。
                            </p>
                            <p class="mb10 text_em">
                                6）考核未通过人员经校长办决议，可以分配至会议、会务组，并于次月可重新提交申请。
                            </p>
                            <p class="mb10 text_em">7）考核通过人员经校长办决议，做好讲师、培训工作，同时也要兼顾会议、会务工作，服从会议、会务组主管管理。</p>
                            <div class="c-blue mb10">二：讲师考核</div>
                            <p class="mb10">
                                参与人员：全员定岗讲师</p>
                            <p class="mb10">
                                参与方式：强制考核
                            </p>
                            <div class="mb5">考核内容：</div>
                            <p class="mb10 text_em">
                                1）定岗讲师于每季度末（3/6/9/12）月份，当月28日参与考核。
                            </p>
                            <p class="mb10 text_em">
                                2）考核内容由季度授课总数，季度授课客户总数，现场授课展示三部分组成。
                            </p>
                            <p class="mb10 text_em">
                                3）季度授课总数=N/3*26，（N=当季度任职讲师月份,下同）
                            </p>
                            <p class="mb10 text_em">
                                4）季度授课客户总数=N/3*26*20
                            </p>
                            <p class="mb10 text_em">
                                5）现场授课：参与考核人员，于考核月28-30日进行现场授课展示，特邀经理级以上员工参与考评，考核采取评分制，考核通过分数线为平均分80分。
                            </p>
                            <div class="mb10">特别说明：</div>

                            <p class="mb10 text_em">
                                1）当季度定岗2月（含）以上人员参与当季度考核，未超过2月合并至下季度考核
                            </p>
                            <p class="mb10 text_em">
                                2）考核标准为以上3项全部达标方能通过。第一或第二项未能达标，第三项达标人员，可提出情况说明，经校长办审核通过，方能视为考核通过。以上3项考核有2项未达标者，视为考核不通过，做降级处理
                            </p>
                            <p class="mb10 text_em">
                                3）二星级以上讲师考核不通过，做降级一级处理。一星级讲师考核不通过，调离讲师岗，并可于次月重新提交定岗申请。
                            </p>
                            <div class="c-blue mb10">三：讲师晋升</div>
                            <p class="mb10">
                                参与人员：一星级（含）以上的讲师</p>
                            <p class="mb10">
                                参与方式：申请审批制</p>
                            <p class="mb10">
                                考核内容：
                            </p>

                            <p class="mb10 text_em">
                                1）讲师晋升指定于每年6月末以及12月末（具体如期按工作行程而定）
                            </p>
                            <p class="mb10 text_em">
                                2）各星级讲师名额分配比例为：一星级讲师50%，二星级讲师25%，三星级讲师15%,四星级讲师5%,五星级讲师5%。
                            </p>
                            <p class="mb10 text_em">
                                3）讲师晋升由总部和各分院初审后推送至唐人商学院总部终审。审核通过后接受相应星级的专业培训，总部认证之后方可进入晋升考核。
                            </p>
                            <p class="mb10 text_em">
                                4）考核标准如下表：
                            </p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class=" table-striped table-bordered table">
                                <tr>
                                    <td colspan="6" align="center">星级评定考核表</td>
                                </tr>
                                <tr>
                                    <td align="center">考核项目</td>
                                    <td align="center">一星级</td>
                                    <td align="center">二星级</td>
                                    <td align="center">三星级</td>
                                    <td align="center">四星级</td>
                                    <td align="center">五星级</td>
                                </tr>
                                <tr>
                                    <td align="center">从业时间</td>
                                    <td align="center">2年</td>
                                    <td align="center">3年</td>
                                    <td align="center">5年</td>
                                    <td align="center">8年</td>
                                    <td align="center">10年</td>
                                </tr>
                                <tr>
                                    <td align="center">入职时间</td>
                                    <td align="center">1年</td>
                                    <td align="center">2年</td>
                                    <td align="center">3年</td>
                                    <td align="center">4年</td>
                                    <td align="center">5年</td>
                                </tr>
                                <tr>
                                    <td align="center">授课数量</td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center">N/6*180</td>
                                    <td align="center">N/6*180*1.1</td>
                                    <td align="center">N/6*180*1.2</td>
                                    <td align="center">N/6*180*1.2</td>
                                </tr>
                                <tr>
                                    <td align="center">操班数量</td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center">N/6*6</td>
                                    <td align="center">N/6*6*1.1</td>
                                    <td align="center">N/6*6*1.2</td>
                                    <td align="center">N/6*6*1.2</td>
                                </tr>
                                <tr>
                                    <td align="center">课程研发</td>
                                    <td align="center">0</td>
                                    <td align="center">0</td>
                                    <td align="center">1</td>
                                    <td align="center">2</td>
                                    <td align="center">3</td>
                                </tr>
                                <tr>
                                    <td align="center">专业能力</td>
                                    <td align="center">0</td>
                                    <td align="center">0</td>
                                    <td align="center">企业培训师资格证</td>
                                    <td align="center">企业培训师资格证</td>
                                    <td align="center">企业培训师资格证</td>
                                </tr>
                                <tr>
                                    <td align="center">总部调控</td>
                                    <td align="center">0</td>
                                    <td align="center">N/6*6</td>
                                    <td align="center">N/6*6*2</td>
                                    <td align="center">N/6*6*2.5</td>
                                    <td align="center">N/6*6*3</td>
                                </tr>
                            </table>
                            <p class="mb10 text_em">
                                说明：
                            </p>
                            <p class="mb10 text_em">1）N为申请考核期前任职当前讲师星级的月份</p>
                            <p class="mb10 text_em">2）从业时间：入职大唐天下之前从事专业讲师的时间</p>
                            <p class="mb10 text_em">3）专业能力：讲师本人申报社会培训系统取得相关专业认证证书</p>
                            <p class="mb10 text_em">4）总部调控：总部或分院调控讲师至总部或其他分院进行授课，讲师名额可由分院推送，经总部审核通过方可执行，并计入考核标准。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>

    <!--内容结束-->

<script src="{_TEMP_SHARE_}/themes/default/js/swiper.min.js"></script><!--轮播js-->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 30
    });
</script>
<script>
    $(document).ready(function($){
        $('#comt').click(function(){
            $('html,body').animate({scrollTop:$('#comments').offset().top}, 800);
        });
        $('#xia').click(function(){
            $('html,body').animate({scrollTop:$('#footer').offset().top}, 800);
        });
		$('#tab1').addClass('active');
    });
</script>
<script type="text/javascript">
    function switchbox(a) {
        a == 1 ? $(".slide.slide3 .arrowcontainer").show() : $(".slide.slide3 .arrowcontainer").hide(),
            $(".slide.slide3").removeClass("s1").removeClass("s2").removeClass("s3").removeClass("s4").removeClass("s5"),
            $(".slide.slide3").addClass("s" + a),
            $(".slide.slide3 .img" + a).addClass("selected"),
            $(".slide.slide3 .content").hide(),
            $(".slide.slide3 .content.content" + a).show(),
            $(".slide.slide3 .bgimg").remove()
    }
</script>