<!--=============================================================================
#     FileName: viewCourseTemplate.html
#         Desc: 
#       Author: Wuyuanhang
#        Email: QQ:554119220
#   LastChange: 2016-10-14 17:39:45
#      History:
#      Paramer: 
=============================================================================-->
<table class="table table-striped table-bordered table-hover" id="viewList">
  <caption>课程排表</caption>
  <thead>
    <tr role="row" class="heading">
      <th>课程名</th>
      <th>课时</th>
      <th>学分</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <loop data="courseList">
    <tr>
      <td>{co_name}</td>
      <td>{co_hour}</td>
      <td>{co_credit}</td>
      <td>{state}</td>
    </tr>
    </loop>
  </tbody>
</table>
