
    <link rel="stylesheet" type="text/css" href="{_TEMP_SHARE_}/themes/default/css/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="{_TEMP_SHARE_}/themes/default/css/swiper-3.3.1.min.css">

<div class="cont12">
    <div class="mt60 pb20">
        <div class="row mg0">
            <loop data="glimpseList">
            <div class="col-xs-4 mb20">
                <a href="/glimpse/detail?id={id}">
                    <div class="mien-box">
                        <div class="mien-img">
                            <img src="{filename}" alt="{className}" width="393px;" height="259px;">
                        </div>
                        <div class="mien-text">
                            {className}
                        </div>
                    </div>
                </a>
            </div>
            </loop>
        </div>

    </div>
    <div class="pt20 pb20 mt60 text-center">
        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
            <ul class="pagination">
                <replace value="pagelist">
                    {pagelist}
                </replace>
            </ul>
        </div>
    </div>



</div>

<!--内容结束-->

<script src="{_TEMP_SHARE_}/themes/default/js/lightgallery.min.js"></script>
<script src="{_TEMP_SHARE_}/themes/default/js/lg-zoom.min.js"></script>
<script>
    lightGallery(document.getElementById('lightgallery'),{mode: 'lg-slide', cssEasing: 'ease', speed: 500});
    function go(id){
    	var url = '{:U("glimpse/index")}?page=' + id;
    	window.location.href = url;
    }
</script>
<!--图片预览js-->