<link href="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
<script src="{_TEMP_PUBLIC_}/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<div class="portlet-body">
	<h4>添加考题</h4>
</div>

<form action="/itemPool/add.json" class="form-horizontal form-row-seperated" id="transfer_detail">
	<div class="form-body clearfix">
		<div class="form-group">
	      	<label class="control-label col-md-2">题目名称</label>
	      	<div class="col-md-10">
	        	<input type="text" name="name" class="form-control" placeholder='请输入题目简介'/>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">所属课程</label>
	      	<div class="col-md-10">
      			<select name='courseId' class="form-control">
					<option value=''>--请选择--</option>
					<!-- <loop data="courseList"> -->
						<option value='{co_id}'>{co_name}</option>
					<!-- </loop> -->
				</select>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">题目描述</label>
	      	<div class="col-md-10">
	        	<textarea class="form-control autosizeme" name="description" rows="3" placeholder='请输入题目描述'></textarea>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">题目选项</label>
	      	<div class="col-md-10">
	      		<div class='row'>
		        	<div class="col-md-5">
			        	<label class="control-label col-md-1">A</label>
			        	<div class="col-md-10"><input type="text" name="cre_a" class="form-control" placeholder='请输入选项A'/></div>
			      	</div>
			      	<div class="col-md-5">
			        	<label class="control-label col-md-1">B</label>
			        	<div class="col-md-10"><input type="text" name="cre_b" class="form-control" placeholder='请输入选项B'/></div>
			      	</div>
		      	</div>
		      	<div class='row' style='margin-top:10px;'>
			      	<div class="col-md-5">
			        	<label class="control-label col-md-1">C</label>
			        	<div class="col-md-10"><input type="text" name="cre_c" class="form-control" placeholder='请输入选项C'/></div>
			      	</div>
			      	<div class="col-md-5">
			        	<label class="control-label col-md-1">D</label>
			        	<div class="col-md-10"><input type="text" name="cre_d" class="form-control" placeholder='请输入选项D'/></div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	    <div class="form-group">
	      	<label class="control-label col-md-2">正确答案</label>
	      	<div class="col-md-10">
	        	<input type="text" name="answer" class="form-control" placeholder='请输入题目简介'/>
	      	</div>
	    </div>  
		<div class="form-group">
	      	<label class="control-label col-md-2">是否共享</label>
	      	<div class="col-md-10">
      			<input type='radio' checked='checked' name='isPublic' value='0'/>否　<input type='radio' name='isPublic' value='1'/>是
	      	</div>
	    </div>
	    
	    <div class="form-actions">
		    <div class="row" style="margin-left:2px;">
		      	<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn blue"><i class="fa fa-check"></i> 确认 </button>
					<button type="button" data-dismiss="modal" class="btn default"><i class="fa fa-rotate-left"></i> 关闭</button>
		      	</div>
		    </div>
		</div>
	</div>
</form>

<script src="{_TEMP_ACTION_}/scripts/add.js" type="text/javascript"></script>